/*  your css code here. If applicable */
.first{
	text-align:center;}
body{
	background-color:rgb(204, 204, 204);
}
.second{
	border:1px solid black;
	border-radius:5px;
	list-style-type:none;
	background-color:white;
}
.middle{
	text-align:center;
}
.third{
	text-align:center;
	background-color: rgb(255, 255, 255);
}
.video{
	border:1px solid black;
}
.player_one{
	width:100%;	
	background-color:rgb(255,255,255);
	padding:1px;
	border-radius:2px;
}
.secon{
	list-style-type:none
}
.player_two{
	width:100%;	
	background-color:rgb(255,255,255);
	padding:1px;
	border-radius:2px;
}
a{
	text-decoration-line:none;
}